/* LOGIN SCREEN CSS */
body {
  background-color: #1bbc9b;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loginForm {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.loginLabel {
  font-size: large;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  padding: 2%;
}

.inputLogin {
  margin-top: 5px;
  padding: 10px;
  font-size: large;
  text-align: center;
}

.loginBtnDiv {
  padding-bottom: 5%;
}

.LoginBtn {
  margin-top: 5px;
  padding: 10px;
  font-size: large;
  border-radius: 7px;
}

.btnEnabled {
  background-color: #17bd4e;
}

.loginImg {
  display: flex;
  margin: auto;
  width: 30%;
  padding-top: 1%;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

/* WALLET CSS */
.walletDiv {
  display: flex;
  flex-direction: column;
}

.walletHeader {
  background-color: #168039;
  padding-bottom: 5%;
  padding-top: 5%;
}

span {
  margin: 2%;
  padding: 2%;
  font-size: larger;
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(85, 200, 162);
}

.btn {
  margin-top: 5px;
  padding: 10px;
  font-size: large;
  border-radius: 7px;
  background-color: #17bd4e;
}

.inputWrapper {
  font-size: large;
  display: flex;
  width: 80%;
  margin: auto;
  padding: 2%;
  justify-content: space-evenly;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  margin: 10px;
  font-size: large;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 200%;
  margin-top: 2%;
}

.inputValue {
  width: 80%;
  text-align: center;
  height: 50%;
  margin-top: 2%;
}

.selectWrapper {
  display: flex;
  justify-content: center;
}

.walletLabel {
  font-size: large;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 80%;
}

select {
  margin-top: 2%;
  font-size: large;
  padding: 2%;
  text-align: center;
}
